<div class="navigation-container">
  <!-- Documents Link -->
  <a
    [routerLink]="['/documents', yearMonth]"
    mat-button>
    Dokumente
  </a>

  <!-- Transactions Link -->
  <a
    [routerLink]="['/transactions', yearMonth]"
    mat-button>
    Transaktionen
  </a>

  <!-- Accounts Link -->
  <a
    [routerLink]="['/accounts']"
    mat-button>
    Konten
  </a>

  <!-- Sync Button -->
  <button (click)="onSyncClick()" mat-button>
    Sync from Google Drive
  </button>
  <!-- Upload Button -->
  <ng-container>
    <input type="file"
           (change)="onFileSelected($event)"
           style="display: none;"
           #fileInput>
    <button (click)="fileInput.click()" mat-button>
      Upload
    </button>
  </ng-container>
  <!-- Download Report Button -->
  <button (click)="onDownloadReportClick()" mat-button>
    Download Report
  </button>
</div>

<!-- Month Navigation in separate row -->
<div class="month-navigation-container" *ngIf="showMonthNavigation">
  <button (click)="onMonthChange(-1)" mat-button>
    << Vorheriger Monat
  </button>
  <button (click)="onMonthChange(1)" mat-button>
    Nächster Monat >>
  </button>
</div>
