<h1 id="tableLabel" mat-dialog-title>Dokumente</h1>
<!--<p *ngIf="!$documents"><em>Loading...</em></p>-->
<div>
  <button (click)="synchronize()" mat-button>Sync from Google Drive</button>
  <a mat-button [routerLink]="['/transactions', yearMonth]">Transaktionen</a>
  <a routerLink="/migrations" mat-button>Migrations</a>
</div>
<ag-grid-angular class="ag-theme-quartz" style="height: 600px;" [rowData]="documents$ | async" [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef" editType="fullRow" [localeText]="localeText">
</ag-grid-angular>