<h1 id="tableLabel">Dokumente </h1>

<p *ngIf="!documents"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
<div>
  <a [routerLink]="['/transactions', yearMonth]">Transaktionen</a>
</div>
<table *ngIf="documents">
  <thead>
  <tr>
    <th>Name</th>
    <th>Brutto</th>
    <th>Netto</th>
    <th>Steuersatz</th>
    <th>Steuerbetrag</th>
    <th>Skonto</th>
    <th>Rechungsdatum</th>
    <th>Rechnungsnummer</th>
    <th>Parsed</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let document of documents">
    <td>{{ document.name }}</td>
    <td>{{ document.total }}</td>
    <td>{{ document.subTotal }}</td>
    <td>{{ document.taxRate }}</td>
    <td>{{ document.taxAmount }}</td>
    <td>{{ document.skonto }}</td>
    <td>{{ document.invoiceDate }}</td>
    <td>{{ document.invoiceNumber }}</td>
    <td>{{ document.parsed }}</td>
  </tr>
  </tbody>
</table>
