<h1 id="tableLabel" mat-dialog-title >Dokumente </h1>
<p *ngIf="!documents"><em>Loading...</em></p>
<div>
  <a mat-button [routerLink]="['/transactions', yearMonth]">Transaktionen</a>
</div>
<button mat-button (click)="openEditDocument()" >Edit Document</button>
<ag-grid-angular
  class="ag-theme-quartz"
  style="height: 600px;"
  [rowData]="documents"
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  (rowValueChanged)="onRowValueChanged($event)"
  editType="fullRow"
  [localeText]="localeText"
>
</ag-grid-angular>
