<h1 mat-dialog-title>Edit Transaction</h1>
<div mat-dialog-content  class="form-container" >
  <form [formGroup]="transactionFormGroup"   >
    <div>
      <mat-label>Kommentar</mat-label>
      <mat-form-field>
        <input id="transactionNote" type="text" formControlName="transactionNoteControl" matInput >
      </mat-form-field>
    </div>
    <div>
      <mat-label>Brutto</mat-label>
      <mat-form-field class="mat-form-field">
        <input id="grossAmount" type="text" formControlName="grossAmountControl" matInput >
      </mat-form-field>
    </div>
    <div>
      <mat-label>Netto</mat-label>
      <mat-form-field>
        <input id="netAmount" type="text" formControlName="netAmountControl" matInput >
      </mat-form-field>
    </div>
    <div>
      <mat-label>Steuerbetrag</mat-label>
      <mat-form-field>
        <input id="taxAmount" type="text" formControlName="taxAmountControl" matInput >
      </mat-form-field>
    </div>
    <div>
      <mat-label>Sender/Empfänger</mat-label>
      <mat-form-field>
        <input id="senderReceiver" type="text" formControlName="senderReceiverControl" matInput >
      </mat-form-field>
    </div>
    <div>
      <mat-label>Dokument</mat-label>
        nur unconnected
        <mat-checkbox id="unconnectedOnly"  checked="unconnectedOnly" (change)="changeUnconnectedOnly()"   ></mat-checkbox>
      <mat-form-field>
        <input type="text"
               matInput formControlName="documentControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayWithDocumentName">
          <mat-option *ngFor="let document of filteredDocuments | async" [value]="document">
            <span>{{ document.name }}</span>|
            <span>{{ document.total }}</span>|
            <span>{{ document.invoiceDate }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <mat-label>Datum</mat-label>
      <mat-form-field>
        <input id="transactionDateTime" type="text" formControlName="transactionDateTimeControl" matInput >
      </mat-form-field>
    </div>
    <div>
      <mat-label>Umsatzsteuerrelevant</mat-label>
      <mat-checkbox id="isSalesTaxRelevant" formControlName="isSalesTaxRelevantControl"></mat-checkbox>
    </div>
    <div>
      <mat-label>Einkommenssteuerrelevant</mat-label>
      <mat-checkbox id="isIncomeTaxRelevant" formControlName="isIncomeTaxRelevantControl"></mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button  (click)="onSaveClick()">Save</button>
</div>
