<h1 id="tableLabel" mat-dialog-title >Transaktionen   {{ yearMonth }}</h1>
<app-navigation
  [yearMonth]="yearMonth"
  [showDocuments]="true"
  [showAccounts]="true"
  [showMigrations]="true"
  [showMonthNavigation]="true"
  [showUpload]="true"
  [showDownloadReport]="true"
  (monthChanged)="switchMonth($event)"
  (fileSelected)="onFileSelected($event)"
  (downloadReportClicked)="downloadReport()">
</app-navigation>
<p *ngIf="!transactions"><em>Loading... </em></p>

<ag-grid-angular
  class="ag-theme-quartz"
  style="height: 600px;"
  [rowData]="transactions"
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  editType="fullRow"
  [localeText]="localeText"
>
</ag-grid-angular>


